name: tests

on:
  - push
  - pull_request

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.7, 3.8]

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Python dependencies
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt

      - name: Build code runner container
        run: docker build -f code_runner.Dockerfile .

        # We need BuildKit to use secrets: https://docs.docker.com/develop/develop-images/build_enhancements/#to-enable-buildkit-builds
      - name: Build Docker container
        run: |
          echo ${{ secrets.LOVELACE_GITHUB_TOKEN }} > token.txt
          DOCKER_BUILDKIT=1 docker build -t lovelace-engine --secret id=token,src=token.txt .

      - name: Run Docker container
        run: |
          docker run -d -v /var/run/docker.sock:/var/run/docker.sock -p 14714:14714 lovelace-engine
          docker ps -a

      - name: Clone lovelace-solutions
        run: |
          git clone https://${{ secrets.LOVELACE_GITHUB_TOKEN }}@github.com/project-lovelace/lovelace-solutions.git
          ln -s lovelace-solutions/python/ solutions

      - name: Wait for Docker container to spin up
        run: sleep 300

      - name: Run tests
        run: pytest --capture=no --verbose
        env:
          LOVELACE_SOLUTIONS_DIR: ./lovelace-solutions/

  deploy:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    needs: test
    if: github.ref == 'refs/heads/master'
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python 3.7
        uses: actions/setup-python@v2
        with:
          python-version: 3.7

      - name: Install Python dependencies
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt

      - name: Build Docker container
        run: |
          echo ${{ secrets.LOVELACE_GITHUB_TOKEN }} > token.txt
          DOCKER_BUILDKIT=1 docker build -t lovelace-engine --secret id=token,src=token.txt .

      - name: Log in to DockerHub
        run: echo ${{ secrets.DOCKER_PASSWORD }} | docker login --username ${{ secrets.DOCKER_USERNAME }} --password-stdin

      - name: docker images
        run: docker images

      - name: Push to DockerHub
        run: |
          docker tag lovelace-engine projectlovelace/lovelace-engine
          docker push projectlovelace/lovelace-engine
